<%= form_for @customer do |f| %>
<div class="row" style="padding: 1em">
  <div class="col-xs-6" "col-md-4">

    <h3>Customer</h3>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_num, class: "form-control" %>

    <%= f.label :second_phone_number%>
    <%= f.text_field :phone_num2, class: "form-control" %>

    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>



</div>
<!-- Styling -->
  <h3 style="padding-left: 12px">Job contents</h3>
<div class="col-xs-6" "col-md-4">

  <%= f.fields_for :jobs do |field| %>
  <%= field.label :brand%>
  <%= field.text_field :brand, class: "form-control" %>

  <%= field.label :model_num %>
  <%= field.text_field :model_num, class: "form-control" %>

  <%= field.label :purchase_date %>
  <%= field.text_field :purchase_date, class: "form-control purchase_date" %>

  <%= field.label :scheduled_date %>
  <%= field.text_field :scheduled_date, class: "form-control scheduled_date" %>

  <%= field.label :serial_num %>
  <%= field.text_field :serial_num, class: "form-control" %>

</div>


<div class="col-xs-6" "col-md-4">

  <div class="form-group" style="margin :0">
    <label>Created at</label>
    <div class="form-control">

    </div>
  </div>
  <%= field.label :serial_num %>
  <%= field.text_field :serial_num, class: "form-control" %>

  <%= field.label :warranty %>
  <%= field.text_field :warranty, class: "form-control" %>

</div>

<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <%= field.label :note %>
    <%= field.text_area :note, :rows=>5, :cols => 100 %>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <%= field.label :performed %>
    <%= field.text_area :performed, :rows=>5, :cols => 100 %>
  </div>

</div>

<% end %>
<%= f.submit %>

<%end%>
</div>
